:root {
    --bg-color: #eeddf4;
    --primary-color: #d298cc;
    --secondary-color: #fedfcc;
    --secondary-bis-color: #ed1dc0;
    --third-color: rgb(230, 249, 242);
    --third-bis-color: #9c72a9f2;
    --fourth-color: #4b20b1;
    --fourth-bis-color: #e1fff4;
    --fifth-color: rgb(234, 250, 255);
    --fifth-bis-color: #c774be;
    --sixth-color: #4070f4;
    --bg-input-color: rgba(41, 32, 49, 0.173);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: "Open Sans", sans-serif;
}

/* Estilos de Header y NavBar */

.header-info {
    background-color: var(--third-bis-color);
    text-align: end;
    overflow: hidden;
}

.header-info p {
    color: white;
    font-weight: 500;
    padding: 5px 25px 5px 0;
    white-space: nowrap;
    animation: moveText 30s linear infinite;
    font-style: italic;
}

.navbar-container {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contenedor {
    max-width: 1440px;
    padding: 0 20px;
    margin: -35px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    margin-right: 20px;
}

.navbar-logo:hover {
    /* transform: scale(1.3);
    transition: all .5s; */
    animation: tilt-n-move-shaking 0.50s infinite;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links>* {
    margin-left: 40px;
}

.navbar-list {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-item {
    margin-left: 40px;
    font-size: 1.1em;
    font-weight: 500;
}

.nav-item a {
    position: relative;
}

.nav-item a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-bis-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-item:hover a::after {
    opacity: 1;
}

/* Estilo lupa y busqueda */

.navbar-search{
    position: relative;
    padding: 5px;
}

.navbar-search input{
    width: 0px;
    height: 35px;
    padding: 0 10px;
    font-size: 18px;
    color: #000;
    outline: none;
    border-radius: 15px;
    background-color: transparent;
    border: none;
}

.boton-search-icon img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
}

.search-icon a{
    position: absolute;
    top: 5px;
    right: 0;
    width: 55px;
    height: 50px;
    line-height: 55px;
    text-align: center;
}

.navbar-search:hover input{
    width: 200px;
    background-color: #fff;
    border: 2px solid #4b20b1;
    transition: all 0.8s ease; 
}

/* Estilo carrito de compras */

.boton-carrito-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container-navbar-carrito {
    position: relative;
}

.cantidad-productos {
    position: absolute;
    top: 55%;
    right: 0;

    background-color: var(--fourth-color);
    color: #fff;
    width: 22px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-carrito-productos {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--fourth-bis-color);
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;    
}


.carrito-producto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-carrito-producto{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 17px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 16px;
}

.icono-cancela-compra{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
}

.icono-cancela-compra:hover{
    color: red;
    cursor: pointer;
}

.total-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.total-carrito h3{
    font-size:18px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 700;
}

.comprar-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--third-bis-color);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    margin-right: -85px;
}    


.hidden-cart{
    display: none;
} 

.hidden{
    display: none;
}

.carrito-vacio{
    padding: 20px;
    text-align: center;
}

/* Estilo para navbar responsive (pantalla mas chica) */

.navbar-toogle-boton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.navbar-menu-movil {
    display: none;
}


@keyframes moveText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}


/*Media Query Header Nav- Responsividad*/
@media only screen and (max-width:895px) {

    /* 980px */
    .navbar-list {
        display: none;
    }

    .navbar-links>* {
        margin-left: 20px;
    }

    .navbar-menu-movil {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 180px;
        right: 0;
        background-color: var(--secondary-color);
        width: 100%;
        box-shadow: 0 2px 10px rg(0, 0, 0, 1);
        z-index: 1;
    }

    .nav-item-movil {
        margin-left: 40px;
        font-size: 1.1em;
        font-weight: 300;
        margin-top: 5px;
    }

    .navbar-list-movil {
        list-style: none;
        padding: 20px;
        margin-bottom: 15px;
    }

    .navbar-list-movil a {
        color: var(--third-bis-color);
        position: relative;
    }

    .nav-item-movil a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--secondary-bis-color);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .nav-item-movil:hover a::after {
        opacity: 1;
    }

    .navbar-toogle-boton {
        display: block;
        margin: 0;
    }

    .navbar-toogle-boton img {
        height: 28px;
        margin: 0 10px;
    }
}

/* @media only screen and (max-width:550px)

trate de ver desde el celu y me parecio q a partir de ese tamaño se empieza a romper otra vez, habria que hacer otro media query con ese tamaño*/

/*Estilos Quienes somos*/

.quienes-somos-seccion {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.quienes-somos-container {
    background-color: var(--bg-color);
    max-width: 1440px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 50px;
    padding: 0 20px;
    width: 100%;
}

.quienes-somos-subtitulo {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 70px;
    color: var(--third-bis-color);
}

.quienes_somos_parrafo {
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 70px;
    font-style: italic;
    line-height: 3.4em;
}

/*falta terminar estilos de esta parte*/

/*Estilo slide fotos*/

.carrousel-seccion {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    margin-bottom: 100px;
    padding: 10px 0;
}

.carrousel-seccion-container {
    max-width: 1440px;
    padding: 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrousel-seccion-contenedor-imgs {
    padding: 50px;
}

.carrousel-seccion-slide img {
    height: 300px;
    width: 1000px;
    max-width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.carrousel-seccion-slide {
    display: none;
}

.carrousel-seccion-slide.contenido {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    max-height: 500px;
}

.carrousel-seccion-slide h1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 2em;
    margin-top: 3em;
    color: var(--fourth-color);
}

.carrousel-seccion-contenedor-imgs {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrousel-seccion-control {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.carrousel-control-previa {
    width: 40px;
    height: 35px;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 3px 5px;
    border-radius: 10px;
}

.carrousel-control-proximo {
    width: 40px;
    height: 35px;
    padding: 3px 5px;
    margin: 0.5em 0.5em 0.5em 0;
    border-radius: 10px;
}

.carrousel-seccion-control a:hover {
    background-color: var(--secondary-bis-color);
    transition: background-color 0.4s;
    border-radius: 30px;
    transform: scale(1.3);
}

/*Media query Carrousel - Responsive*/


@Media only screen and (max-width: 895px) {
    .carrousel-seccion-slide h1 {
        font-size: 1.9em;
        text-align: center;
        justify-content: center;
    }

    .carrousel-seccion-slide img {
        padding: 50px 0;
        justify-content: center;
        height: 400px;
        object-fit: cover;
    }

    .carrousel-seccion-slide.contenido {
        flex-direction: column;
        max-height: 100%;
        padding-bottom: 0;
    }

    .carrousel-seccion-slide .contenido {
        margin-bottom: 2em;
    }

    .carrousel-seccion-container {
        justify-content: flex-end;
    }

    .carrousel-seccion-control {
        flex-direction: row;
        align-items: center;
        position: static;
    }

    .carrousel-control-proximo {
        margin-right: 0;
    }
}


/*Estilos Planes */

#planes {
    display: flex;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
}

.planes-seccion-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 30px 30px;
    margin-left: 70px;
    max-width: 1440px;
    padding: 0 20px;
}

.planes-seccion-titulo {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
    color: var(--third-bis-color);
}

.planes-seccion-item {
    border-radius: 20px;
    margin: 30px;
    width: 80%;
    border-style: groove;
}

.planes-seccion-item img {
    padding: 30px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
    transition: all .5s;
}

.planes-seccion-item:hover {
    box-shadow: 0 10px 20px rgba(34, 193, 140, 0.356);
    background-color: #efd1f7;
}

.planes-seccion-item img:hover {
    transform: scale(1.1);
}

/*Falta terminar toda la parte de estilos, media query y JS de la parte de compra de planes, o sea una vez que apretamos "Saber mas" y nos lleva a otro lado, ahi en esa pagina falta todo eso*/

/* .planes-seccion-item-compra{
    border-radius: 20px;
    margin: 30px;
    width: 80%;
    border-style:groove;
}

.planes-seccion-item-compra img{
    padding: 30px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
    transition: all .5s;
}

.planes-seccion-item-compra:hover{
    box-shadow: 0 10px 20px rgba(34, 193, 140, 0.356);
    background-color: #efd1f7;
}

.planes-seccion-item-compra img:hover{
    transform: scale(1.1);
} */

.planes-seccion-info {
    padding: 15px 70px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.planes-seccion-subtitulo {
    font-size: 1.7em;
    font-weight: 700;
    color: var(--fourth-color);
    text-align: center;
    margin-bottom: 20px;
}

.plan-seccion-descripcion {
    font-size: 1em;
    font-weight: 500;
    list-style: none;
    text-align: center;
}

.planes-seccion-info button {
    color: #fff;
    background-color: var(--fifth-bis-color);
    padding: 15px 10px;
    margin: 30px 100px;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
}

.planes-seccion-info button:hover {
    background-color: #ed1dc0;
    transition: 1s;
}

/*Media query Planes- Responsividad */

@media only screen and (max-width:895px) {
    .planes-seccion-container {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 180px;
        background-color: var(--bg-color);
        width: 100%;
        max-width: 100%;
        margin-bottom: 170px;
        box-shadow: 0 2px 10px rg(0, 0, 0, 1);
        z-index: 1;
    }

    .planes-seccion-info button {
        color: #fff;
        background-color: var(--fifth-bis-color);
        padding: 15px 10px;
        margin: 30px 60px;
        justify-content: center;
        border-radius: 15px;
        cursor: pointer;
        width: 200px;
        max-width: 100%;
    }
}

/* Estilos Testimonios slider */


.testimonios-seccion {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    margin-bottom: 120px;
}

.testimonios-slide-subtitulo {
    font-size: 2em;
    font-weight: 700;
    color: var(--third-bis-color);
    margin-bottom: 80px;
    margin-top: 100px;
}

.testimonios-slide-contenedor {
    max-width: 1440px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 40px 0;
}

.testimonios-tarjeta {
    padding: 0 40px;
    display: none;
}

.testimonios-tarjeta.contenido {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    height: 450px;
    max-height: 600px;
}

.tarjeta {
    width: 330px;
    height: 420px;
    border-radius: 25px;
    background-color: var(--fourth-bis-color);
}

.contenido-img,
.contenido-testimonio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.tarjeta-imagen {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.tarjeta-imagen .tarjeta-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--sixth-color);
}

.contenido-img {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.disenio-imagen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--sixth-color);
    border-radius: 25px 25px 0 25px;
}

.disenio-imagen::before,
.disenio-imagen::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--sixth-color);
}

.disenio-imagen::after {
    border-radius: 0 25px 0 0;
    background-color: var(--fourth-bis-color);
}

.nombre-testimonio {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--fourth-color);
}

.descripcion-testimonio {
    font-size: 1em;
    font-weight: 500;
    color: var(--third-bis-color);
    text-align: center;
}

.testimonios-seccion-control {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: -260px;
    margin-right: 80px;
}

.testimonios-control-previa {
    width: 40px;
    height: 35px;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 3px 5px;
    border-radius: 10px;
}

.testimonios-control-proximo {
    width: 40px;
    height: 35px;
    padding: 3px 5px;
    margin: 0.5em 0.5em 0.5em 0;
    border-radius: 10px;
}

.testimonios-seccion-control a:hover {
    background-color: var(--fourth-bis-color);
    border-radius: 30px;
    transform: scale(1.3);
    transition: background-color 0.4s;
}

/*Falta la responsividad de la parte de Testimonios */

/*Estilos Footer y NavBar*/

input {
    font-family: "Open Sans", sans-serif;
}

.footer {
    background-color: var(--third-bis-color);
    display: flex;
    flex-direction: column;
}

.footer-nav-info {
    background-color: var(--secondary-color);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.footer-nav-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
}

.footer-info-lista-items {
    list-style: none;
}

.footer-titulo {
    color: var(--fourth-color);
    font-size: 1.2em;
    margin-bottom: 1em;
}

.footer-info-items-li {
    margin-bottom: 0.2em;
}

.footer-items-link {
    font-size: 0.9em;
}

.footer-items-link:hover {
    color: var(--secondary-bis-color);
}

.footer-iconos-contenedor {
    margin-bottom: 1em;
}

.icono-redsocial {
    margin-right: 15px;
}

.icono-redsocial img {
    height: 23px;
}

.suscribete-contenedor-form {
    display: flex;
    flex-direction: column;
}

.suscribete-contenedor-form input {
    border: none;
    font-size: 0.8em;
    background-color: rgb(239, 233, 243);
    padding: 12px;
    outline: none;
    color: var(--fourth-color);
    border-radius: 10px;
    margin-bottom: 1em;
}

.boton-suscribete {
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
    color: var(--fourth-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    text-align: center;
    width: 150px;
}

.boton-suscribete:hover {
    background-color: var(--primary-color);
    transition: background-color 0.3s ease-in-out;
}

.footer-copyright-texto {
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: 500;
    padding: 20px 0;
}

/*Media querys footer*/

@Media only screen and (max-width:850px) {

    /*si la pantalla es superior a esto que no aplique los estilos que siguen*/
    .footer-info-lista {
        width: 49%;
        margin-bottom: 1.3em;
    }
}

@Media only screen and (max-width:510px) {

    /*si la pantalla es superior a esto que no aplique los estilos que siguen*/
    .footer-info-lista {
        width: 100%;
        margin-bottom: 1.3em;
    }
}


/*Falta hacer el CSS, JS y Media Query de la parte de la compra de los planes*/
/*Falta ver la parte de Media Query casi todas las secciones, sobre todo la parte de planes y testimonios*/
/* Falta darle utilidad a la lupita de busqueda, o sea que busque cosas, el estilo ya lo tiene */
/* Falta agregar las rutas y anclas de cada boton */
/*En la seccion compra habria que hacer un form para poner para que se elija por ej: pago con tarjeta, pago con transferencia, pago con Pay pal, etc*/
/*Faltaria ver si quieren agregar algo en la parte de quienes somos, alguna imagen o algun fondo distinto, no se algo asi  y ver la responsividad */

/*Faltaría ver si quieren agregar alguna otra seccion que se les ocurra o si quieren cambiar algo de lo que está */